#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    background-image: url("cool-background (3).png");
    background-size: cover; /* Make the image cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    margin: 0;
    padding: 0;
    height: 100vh; /* Make the body take up the full viewport height */
}



