<div class="" id="addFormDiv">
  <p id="username"></p>
  <div class="row">
    <div class="col-sm" style="margin-top: 30px; min-width: 1000px">
      <div class="container" id="showNews">
        <h3>You have added the following news:</h3>
        <table class="newsTable table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th>Content</th>
            <th>Producer</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <button type="button" id="previousButton" class="btn btn-info mb-1" style="margin: 10px">Previous
        </button>
        <button id="nextButton" type="button" class="btn btn-info mb-1" style="margin: 10px">Next</button>
      </div>
    </div>
    <div class="col-sm" style="margin-top: 30px; display: flex; justify-content: center; align-items: center;">
      <div id="addForm" class=" text-left" style="max-width: 380px; min-width: 380px">
        <h3>Enter the details for the news: </h3>
        <div class="mb-1"><label for="titleField" class="form-label">Title: </label><label
          for="titleField"></label><input type="text"
                                          id="titleField"
                                          style="width: 100%; max-width: 450px"
                                          class="form-control">
        </div>
        <div class="mb-1"><label for="categoryField" class="form-label">Category: </label><label
          for="categoryField"></label><input type="text"
                                             id="categoryField"
                                             class="form-control"
                                             style="width: 100%; max-width: 400px">
        </div>
        <div class="mb-1"><label for="contentField" class="form-label">Content: </label><label
          for="contentField"></label>
          <textarea id="contentField" class="form-control" rows="5"></textarea>
        </div>

        <button id="insertNewsButton" type="button" class="btn btn-success mb-1"
                style="display: block; margin: auto; margin-top: 15px; width: 100%;">Add the News
        </button>
        <hr>
        <form method="post">
          <input type="submit" class="btn btn-info mb-1" name="viewAllButton" value="View all news"
                 style="margin: auto; margin-top: 10px">
          <input type="submit" class="btn btn-secondary mb-1" name="returnButton"
                 value="Return to your profile" style="margin: auto; margin-top: 10px">
        </form>
      </div>
    </div>
  </div>
</div>
