<div class="" id="addFormDiv">
  <p id="username"></p>
  <div class="row">
    <div class="col-sm" style="margin-top: 30px; min-width: 1000px">
      <div class="container" id="showNews">
        <h3>You have added the following news:</h3>
        <table class="newsTable table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th>Content</th>
            <th>Producer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let oneNews of paginatedNews">
            <td>{{ oneNews.NewsTitle }}</td>
            <td>{{ oneNews.NewsDatePosted }}</td>
            <td>{{ oneNews.NewsCategory }}</td>
            <td>{{ oneNews.NewsContent }}</td>
            <td>{{ oneNews.NewsProducer }}</td>
            <td>
              <button (click)="editNews(oneNews.NewsId)" class="btn btn-primary">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-info mb-1" id="previousButton"
                style="margin: 10px" type="button"
        >Previous
        </button>
        <button (click)="nextPage()" [disabled]="currentPage > (news.length / newsPerPage)"
                class="btn btn-info mb-1"
                id="nextButton"
                style="margin: 10px"
                type="button"
        >Next
        </button>
      </div>
    </div>
    <div class="col-sm" style="margin-top: 30px; display: flex; justify-content: center; align-items: center;">
      <div class=" text-left" id="addForm" style="max-width: 380px; min-width: 380px">
        <h3>Enter the details for the news: </h3>
        <div class="mb-1"><label class="form-label" for="titleField">Title: </label><label
          for="titleField"></label><input [(ngModel)]="title"
                                          class="form-control"
                                          id="titleField"
                                          style="width: 100%; max-width: 450px" type="text">
        </div>
        <div class="mb-1"><label class="form-label" for="categoryField">Category: </label><label
          for="categoryField"></label><input [(ngModel)]="category"
                                             class="form-control"
                                             id="categoryField"
                                             style="width: 100%; max-width: 400px" type="text">
        </div>
        <div class="mb-1"><label class="form-label" for="contentField">Content: </label><label
          for="contentField"></label>
          <textarea [(ngModel)]="content" class="form-control" id="contentField" rows="5"></textarea>
        </div>

        <button (click)="addNews()" class="btn btn-success mb-1"
                id="insertNewsButton"
                style="display: block; margin: auto; margin-top: 15px; width: 100%;" type="button">Add the News
        </button>
        <hr>
        <form method="post">
          <input class="btn btn-info mb-1" name="viewAllButton" style="margin: auto; margin-top: 10px" type="submit"
                 value="View all news">
          <input (click)="returnToProfile($event)" class="btn btn-secondary mb-1" name="returnButton"
                 style="margin: auto; margin-top: 10px" type="submit" value="Return to your profile">
        </form>
      </div>
    </div>
  </div>
</div>
