@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    position: relative;
    width: 23%; /* Adjust this value to change the card size */
    margin: 1%; /* Adjust this value to change the space between cards */
    border-radius: 15px;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between; /* Add this line to push child elements to the edges */
}

.vote-average {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.25rem 0.25rem;
    border-radius: 3px;
    font-weight: bold;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blur {
    filter: blur(8px);
    transition: filter 2s;
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

.blur-in {
    animation: blurIn 3s forwards;
}

.movie-image-container {
    position: relative;
    overflow: hidden;
}

.movie-overview {
    position: absolute;
    bottom: -100%; /* Initially position it off the bottom */
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transition: bottom 0.5s ease-in-out;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

.movie-image-container:hover .movie-overview {
    bottom: 14%; /* Position it to the middle on hover */
}